body {
    background-color: #cfe9e0;
    margin: 0;
}

/* Alignement du contenu du header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5deabb;
}

.logo {
    width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
}

ul {
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    list-style-type: none;
    display: flex;
    align-items: center; /* Alignement vertical des éléments */
}

li {
    margin: 0 50px; /* Espacement horizontal entre les éléments */
}

a {
    color: #000000;
    text-decoration: none;
}

h2 {
    text-align: center;
}


/* Mise en page du formulaire */
form, div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
fieldset{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    font-weight: bold;
    background-color: #30c9933b;
    width: 30%;
}
div{
    width: 100%;
}

button{
    border-radius: 5px;
}
.buttondeleteall{
    width: 100%;
}

